#title {
    text-align: center;
}

img {
    vertical-align: middle;
}

h1 {
    text-size-adjust: 15;
    font-size: 30px;
}

form {
    text-align: center;
}

label.bold {
    font-weight: bold;
}

label span {
    color: red;
}

option {
    text-align: center;
}

.table {
    margin: 0 auto 0 auto;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

.bottom {
    border-bottom-style: solid;
    border-width: 1px;
}