#title {
    text-align: center;
}

img {
    vertical-align: middle;
}

h1 {
    text-size-adjust: 15;
    font-size: 30px;
}

form {
    text-align: center;
}

.bold {
    font-weight: bold;
}

label span {
    color: red;
}

option {
    text-align: center;
}

.table {
    margin: 0 auto 0 auto;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.top {
    border-top-style: solid;
    border-width: 2px;
}

.bottom {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.grey_button {
    background-color: #DFDEE0;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
}

.green_hover:hover {
    background-color: #4CAF50;
    color: white;
}

select { 
    text-align-last: center;
}

.card {
    margin: 0 auto 4px auto;
    width: 650px;
    padding-top: 20px; 
    padding-left: 60px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #F4F3F4;
    display: flex;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#result_count_empty {
    text-align: center;
}

#result_count {
    margin: 0 auto 10px auto;
    text-align: center;
    border-bottom: 2px;
    border-bottom-style: solid;
    width: 715px;
    border-color: #ccc;
}

.italic {
    font-style: italic;
}

.redirect_icon {
    vertical-align: top;
}

.item_image {
    border-style: solid;
    border-color: #ccc;
    border-width: 4px;
    transition: transform .2s;
}

.item_image:hover {
    transform: scale(1.75);
}

.image_div {
    width: 200px;
}

.content_div {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none !important;
}

.unbold {
    font-weight: normal;
}

.align_right {
    text-align: right;
    padding-left: 100px;
}

.close_button {
    border: none;
    color: red;
    font-size: 35px;
    background-color: #F4F3F4;
    align-content: right;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

#show_button_area {
    text-align: center;
}